body, html {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
  
.container {
    height: 100%;
    width: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

ul {
    list-style-type: none;
    opacity: 1;
    margin: 0 auto;
    width:20%;
    height: 100%; 
    padding: 0;
    background-color: rgba(255,255,255,0.3);
    position: fixed;
    top: 0px;
    left: 0px;
    text-align: center;
}

ul li {
    display: inline-block;
    margin-bottom: 30px;
    height: 2em;
}

li a{
    color: #3a3838;
    text-decoration: none;
    font-size: 70px;
    height: 50px;
    display: flex;
    margin: 0 0 1000px 0;
    align-items: center;
    font-family: Poppins,sans-serif;
    font-weight: bold;
}


li a:hover {
    color: blue;
}

input[id='file'] {
    color:transparent;
    font-size:20px;
    top: 20%;
    left: 50%;
    position:absolute;
}

.sumbit {
    width: 100px;
    font-size:20px;
    top: 40%;
    left: 49.5%;
    position:absolute;
}

.passwordtext {
    width: 100px;
    font-size:20px;
    top: 25%;
    left: 50%;
    position:absolute;
}

.password {
    width: 100px;
    font-size:20px;
    top: 28%;
    left: 49.5%;
    position:absolute;
}